* {
  margin: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  color: #382d26;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  font-size: 16pt;
  /* border-bottom: 2px solid #382d26; */
}

h2 {
  padding-top: 1vw;
  font-size: 14pt;
  border-bottom: 2px solid #382d26;
  width: fit-content;
}

ul,
ol {
  margin-left: 0;
  padding-left: 20px;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* background-color: #242423; */
  background-color: black;
}

pre {
  margin: 20px 10px 20px 10px;
  white-space: pre-wrap;
  /* overflow-x: ; */
  word-break: break-all;
  /* background: hsl(30,80%,90%); */
  /* background: hsl(0, 12%, 75%); */
  border: 2px solid black;
  border-color: #382d26 #382d26 #382d26 #382d26;
  border-radius: 5px;
  transition: 1s;
  /* box-shadow: 2px 2px white; */
}

code {
  display: inline-block;
  font-size: medium;
  line-height: 1.5;
  padding: 0.5vw 0 0.4vw 1vw;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  > h1 {
    font-size: 30pt;
    transition:
      color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
    > a {
      color: #382d26;
    }
  }

  > h1:hover {
    /* background-color: white; */
    box-shadow: inset 300px 0 0 0 white;
    > a {
      color: black;
    }
  }
}

.nav {
  padding-bottom: 25px;
  > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin-top: 0%;
    > li {
      flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;

      > a {
        font-size: 14pt;
        color: rgba(221, 221, 221, 0.35);
        transition: 0.3s;
      }

      > a:hover {
        color: white;
      }
    }
  }
}

a {
  color: rgba(221, 221, 221, 0.35);
}

.content {
  box-sizing: border-box;
  /* border-style: solid; */
  padding: 15px;
  margin: 10px 10px 15px 10px;
  /* margin-bottom: 2%; */
  background-color: black;
  /* border-color: white; */
  border: solid 1pt rgba(221, 221, 221, 0.35);
  border-radius: 10px;
  transition: 0.4s;
  /* box-shadow: 6px 6px #826aed; */

  > .article {
    /* padding-top: 10px; */
    font-size: 14pt;
    > span > h1 {
      padding-top: 20px;
      padding-bottom: 5px;
      border-bottom: 2px solid #382d26;
      transition: 1s;
    }

    > span > p,
    li {
      padding-top: 10px;
      transition: 0.5s ease-in-out;
    }
  }

  > .article-title {
    padding-top: 30px;
    padding-bottom: 10px;
    > h1 {
      font-size: 20pt;
      transition: 0.5s;
    }
  }

  > .article-desc {
    width: 100%;
    height: 4rem;
    > p {
      transition: 0.5s;
    }
  }

  > .info {
    display: flex;
    text-align: end;
    justify-content: space-between;
    font-size: larger;
  }

  > .read-more {
    text-align: end;
    > a {
      transition: 0.5s;
      color: rgba(221, 221, 221, 0.35);
    }
  }
}

.footer {
  text-align: center;
  font-size: 90%;
  > p {
    padding-top: 50px;
    color: #382d26;
    transition: 0.3s;
  }

  > p:hover {
    color: white;
  }
}

@media screen and (min-width: 35.5em) {
  .content {
    padding: 30px;
    margin: 10px 10% 2.5% 10%;
    font-size: 110%;
    /* box-shadow: 8px 8px #826aed; */
  }
  .content:hover {
    box-shadow: 3px 3px white;
  }
}

@media screen and (min-width: 48em) {
  .content {
    padding: 50px;
    margin: 10px 15% 2% 15%;
    font-size: 125%;
    /* box-shadow: 10px 10px #826aed; */
  }
  .content:hover {
    box-shadow: 3px 3px white;
  }
}

@media screen and (min-width: 64em) {
  .content {
    padding: 50px;
    margin: 10px 19% 1.5% 19%;
    font-size: 140%;
    /* box-shadow: 13px 13px #826aed; */
  }
  .content:hover {
    box-shadow: 3px 3px white;
  }
}

@media screen and (min-width: 80em) {
  .content {
    padding: 50px;
    margin: 10px 23% 1% 23%;
    font-size: 120%;
  }

  .content:hover {
    box-shadow: 3px 3px white;
  }
}

.content:hover {
  box-shadow: 3px 3px white;
}

.content:hover .article-title {
  > h1 {
    color: white;
  }
}

.content:hover .read-more {
  > a {
    color: white;
  }
}

.content:hover .article-desc {
  > p {
    color: white;
  }
}
