{% extends "base.html.j2" %}
{% block ogMetaTag %}
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ articleHref }}">
<meta property="og:image" content="{{ articleImage }}">
<meta property="og:description" content="{{ description }}">
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="content">
    <div class="info">
        <h5>{{ author }}</h5>
        <h5>{{ publishedDate }}</h5>
    </div>
    <div class="article-title">
        <h1>
            {{ title }}
        </h1>
    </div>
    <div class="article">
        <span>
            {{ articleContent }}
        </span>
    </div>
</div>
{% endblock %}