{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block ogMetaTag %} {% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VP9NF6DGBJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VP9NF6DGBJ');
    </script>   <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <script async src="script.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="/">whoevencares</a>
            </h1>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about.html">about</a>
                </li>
                <li>
                    <a href="/rss.xml">rss</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://github.com/booleanism">github</a>
                </li>
            </ul>
        </div>
        <main>
            {% block main %} {% endblock %}
        </main>
        <div class="footer">
            <p>
                <b>
                    hisam's stuff
                    <br>
                    CC BY-NC-SA
                </b>
            </p>
        </div>
    </div>
</body>
</html>
{% endblock %}
