{% extends "base.html.j2" %}
{% block ogMetaTag %}
<meta property="og:title" content="Hisam's Blog">
<meta property="og:type" content="home">
<meta property="og:url" content="{{ homeUrl }}">
<meta property="og:image" content="{{ articleImage }}">
<meta property="og:description" content="{{ description }}">
{% endblock %}
{% block title %}
Home
{% endblock %}
{% block main %}
{% for item in items %}
<div class="content">
    <div class="info">
        <h5>{{ item.author }}</h5>
        <h5>{{ item.publishedDate }}</h5>
    </div>
    <div class="article-title">
        <h1>
            {{ item.title }}
        </h1>
    </div>
    <div class="article-desc">
        <p>
            {{ item.description }}
        </p>
    </div>
    <div class="read-more">
        <a href="{{ item.articleHref }}">Read more...</a>
    </div>
</div>
{% endfor %}
{% endblock %}